@use "variables" as *;
.Hero {
  height: auto;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  padding: 10em 0 5em 0;

  h1 {
    font-size: 2.4em;
    margin-bottom: 0.2em;
  }

  p {
    font-size: 1.1em;
  }
}
