$font-stack: "Raleway", sans-serif;
$primary-yellow: rgb(235, 168, 1);
$bgcolor: #f3f4f6;
$disabledTextColor: rgb(175, 175, 175);
$waitingColor: rgb(230, 174, 68);
$confirmedColor: rgb(106, 187, 160);
