$confirmBtnColor: hsl(166, 25%, 50%);
.addEvent {
  height: fit-content;
  padding: 2.5em 2em;
  position: relative;

  input {
    border: 0;
    background-color: inherit;
    &:focus {
      outline: none;
    }
  }
  .inputTitle {
    font-size: 1.4em;
    font-weight: 600;
    width: 100%;
    background-color: inherit;
    border-bottom: 2px solid rgb(135, 135, 135);
    padding-bottom: 0.3em;
  }

  .info {
    margin: 2em 0em;
    font-size: 0.9em;
    color: grey;

    .infoItem {
      margin-top: 0.4em;
      display: flex;
      align-items: center;
      gap: 0.4em;

      .time {
        max-width: 4.6em;
        border-bottom: 1px solid rgb(135, 135, 135);
        cursor: pointer;
        padding: 0em 0.2em;

        &:hover {
          border-bottom: 1px solid black;
        }
      }
    }
  }

  .confirmBtn {
    width: 100%;
    color: white;
    background-color: $confirmBtnColor;
    padding: 0.6em 0;
    border-radius: 0.6em;
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 2em;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow ease-in-out 100ms, transform ease-in-out 100ms;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;

    .checkIcon {
      transform: scale(1.2);
    }
    &:hover,
    &:focus {
      box-shadow: 0px 12px 12px -12px hsl(190, 40%, 30%);
      outline: 1px lighten($color: hsl(166, 25%, 50%), $amount: 50%) solid;
      transform: scale(1.05);
    }
  }
  .pResPerson {
    font-size: 0.8em;
    font-weight: 600;
  }
  //react-select
  .selectControl {
    margin-top: 0.5em;
    font-size: 0.9em;
    background-color: inherit;
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgb(154, 154, 154);
    border-radius: 0;
    transition: all 100ms eas;
  }

  .selectControlFocused {
    box-shadow: none;
    border-bottom: 1px solid black;
  }

  .selectControl:hover {
    border-bottom: 1px solid black;
  }

  // .selectPlaceholder {
  //   transform: translateX(-5%);
  // }
  .selectOption {
    font-size: 0.9em;
  }

  // .selectInput {
  //   transform: translateX(-5%);
  // }

  .selectMenu {
    border-radius: 0.5em;
    overflow: hidden;
    transform: scaleX(1.05);
  }

  .selectValueContainer {
    transform: translateX(-5%);
  }
}
