@use "variables" as *;
.Hero {
  height: auto;
  width: 100%;
  background-color: $bgcolor;
  text-align: center;
  padding: 10em 2em 5em 2em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2.4em;
    margin-bottom: 0.2em;
  }

  p {
    font-size: 1.1em;
  }
}
