@use "variables" as *;
.Navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  //height: 10dvh;
  display: flex;
  justify-content: space-between;
  padding: 2em 6dvw;
  font-family: $font-stack;
  font-weight: 500;
  align-items: center;

  .NavLinks {
    display: flex;
    flex-direction: row;
    gap: 2em;
    cursor: pointer;
  }

  .NavLink {
    position: relative;
    list-style: none;
    // padding: 1em 1em;
    border-radius: 1em;

    &:hover,
    &:focus {
      //font-weight: 600;
      transition: all ease-in-out 100ms;
    }

    &::before {
      display: block;
      transition: 300ms;
      height: 2px;
      content: " ";
      position: absolute;
      background-color: black;
      width: 0%;
      top: 1.4em;
    }

    &:hover::before {
      width: 100%;
    }
  }

  .btn {
    padding: 0.5em 1.5em;
    font-weight: 500;
    border: 0;
    border-radius: 2em;
    background-color: rgb(35, 35, 35);
    color: white;
    cursor: pointer;
  }

  .Profile {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
  }

  .ProfileIcon {
    background-color: black;
    width: 2em;
    height: 2em;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
  }

  .logoutBtn:hover{
    background-color: rgb(99, 80, 184);
    width: 5em;
    height: 2em;
    color: white;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
  }
}
