@use "variables" as *;
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2em;
  background-color: $bgcolor;
  padding: 2em 6dvw; // or margin?
  height: auto;
  animation: fadeIn 600ms;
}
