@use "variables" as *;
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 5em;
  background-color: rgb(255, 255, 255);
  padding: 2em 6dvw;
  height: 500px;
}

.AvailableSpaces {
  position: relative;
  padding: 0 0em;
  .heading {
    margin: 2em auto 1em auto;
    text-align: center;
    font-weight: 400;
  }

  .SpaceContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1em;
  }

  .Space {
    padding: 1.2em 1em;
    text-align: center;
    background-color: #b0b0b0;
    color: white;
    border-radius: 1em;
    cursor: pointer;
    user-select: none;
    transition: all ease-in-out 200ms;

    .name {
      font-weight: 500;
      text-transform: capitalize;
    }

    p {
      position: relative;
      //bottom: 1.5em;
      margin-top: 0.2em;
      font-size: 0.8em;
      color: #dedede;
      visibility: hidden;
      height: 0;
      opacity: 0;
      transition: opacity ease-in-out 300ms;
    }

    &Selected {
      @extend .Space;
      padding: 1.2em 1.2em;
      //border-radius: 1.2em;
      background-color: rgb(54, 53, 65);
      //text-align: left;
      p {
        visibility: visible;
        opacity: 1;
        height: auto;
        //bottom: 0;
      }
    }
  }
}
